name: Main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up Python and uv
        uses: astral-sh/setup-uv@v1
        with:
          cache-dependency-glob: "uv.lock"

      - name: Sync dependencies
        run: uv sync --locked

      - name: Run checks (using uv run)
        run: uv run make check

  tox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
      fail-fast: false
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v1
        with:
          cache-dependency-glob: "uv.lock"

      - name: Load cached .tox
        uses: actions/cache@v3
        id: cache-tox
        with:
          path: .tox
          key: tox-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}
          restore-keys: |
            tox-${{ runner.os }}-${{ matrix.python-version }}-

      - name: Install tox and tox-gh-actions
        run: pip install tox tox-gh-actions
        shell: bash

      - name: Test with tox
        run: tox
        shell: bash

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        if: ${{ matrix.python-version == '3.11' }}

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v1
        with:
          cache-dependency-glob: "uv.lock"

      - name: Sync dependencies
        run: uv sync --locked

      - name: Check if documentation can be built (using uv run)
        run: uv run make docs-test
